<header>
  <nav>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
</header>
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="left-column">
        <img src="/assets/back01.jpeg" alt="Característica 1" />
      </div>
      <div class="right-column">
        <h1>ThunderFood</h1>
        <p>Discover a world of flavor with ThunderFood! Satisfy your cravings with lightning-fast delivery 
          and a menu that's a thunderstorm of delicious options. 
          Order now and enjoy the thrill of food delivered to your doorstep.</p>
        <a href="/login" class="btn">Start now</a>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="feature">
      <img src="/assets/comida1.jpg" alt="Característica 1" />
      <h2>Característica 1</h2>
      <p>Descripción de la característica 1.</p>
    </div>
    <div class="feature">
      <img src="/assets/comida2.jpg" alt="Característica 2" />
      <h2>Característica 2</h2>
      <p>Descripción de la característica 2.</p>
    </div>
    <div class="feature">
      <img src="/assets/comida3.jpg" alt="Característica 3" />
      <h2>Característica 3</h2>
      <p>Descripción de la característica 3.</p>
    </div>
    <div class="feature">
      <img src="/assets/comida4.jpg" alt="Característica 4" />
      <h2>Característica 4</h2>
      <p>Descripción de la característica 4.</p>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <h2>Contacto</h2>
    <p>¿Tienes preguntas? ¡Contáctanos!</p>
    <form>
      <input type="text" placeholder="Nombre" />
      <input type="email" placeholder="Correo Electrónico" />
      <textarea placeholder="Mensaje"></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
<footer>
  <div class="container">
    <p>&copy; 2023 Tu Compañía. Todos los derechos reservados.</p>
  </div>
</footer>